<!DOCTYPE html>
<html ng-app="ShoppingListCheckOff">
<head>
	<title>Lunch Checker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="styles/bootstrap.min.css">
	<link rel="stylesheet" href="styles/general.css">
	<script src="scripts/jquery.min.js"></script>
	<script src="scripts/bootstrap.min.js"></script>
	<script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Shopping List<span class="glyphicon glyphicon-shopping-cart icon" aria-hidden="true"></span></h1>		
			</div>
		</div>

		<div ng-controller="ToBuyController as toBuy">
			<div class="col-md-6">
				<div class="list">
					<h2>To Buy List</h2>
					<hr>
					<div ng-if="toBuy.items.length === 0">
						<p>List(s) are empty</p>
					</div>
					<table>
				        <tr ng-repeat="item in toBuy.items">
							<td><span class="quantity">{{ item.quantity }}</span> of {{ item.name }}.</td>
				         	<td><button ng-click="toBuy.updateList(toBuy.items, toBuy.boughtItems, $index)">Bought</button></td>
				        </tr>
			    	</table>
		    	</div>
			</div>
		</div>

		<div ng-controller="AlreadyBoughtController as alreadyBought">
			<div class="col-md-6">
				<div class="list">
					<h2>Bought List</h2>
					<hr>
					<div ng-if="alreadyBought.boughtItems.length === 0">
						<p>List(s) are empty</p>
					</div>
					<table>
				        <tr ng-repeat="item in alreadyBought.boughtItems">
							<td><span class="quantity">{{ item.quantity }}</span> of {{ item.name }}.</td>
				        </tr>
			    	</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>